# Site Configuration
NEXT_PUBLIC_SITE_URL=https://seudominio.com
NEXT_PUBLIC_API_URL=http://server-main.schiavon.dev
NEXT_PUBLIC_APP_TITLE=Guilherme Schiavon Portfolio

# Google Search Console Verification - Verificado direto no Google
GOOGLE_VERIFICATION_CODE=

# Google Analytics (opcional)
NEXT_PUBLIC_GA_ID=
